USE [master]
GO
/****** Object:  Database [datos_Jugada]    Script Date: 22/11/2020 16:08:54 ******/
CREATE DATABASE [datos_Jugada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datos_Jugada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\datos_Jugada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datos_Jugada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\datos_Jugada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datos_Jugada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datos_Jugada]
GO
/****** Object:  Table [dbo].[jugadas]    Script Date: 22/11/2020 16:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadas](
	[dni] [int] NOT NULL,
	[saldo] [float] NOT NULL,
	[variacion] [float] NOT NULL,
	[transaccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_jugadas] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[jugadas] ([dni], [saldo], [variacion], [transaccion]) VALUES (1, 455, -20, N'pierde')
INSERT [dbo].[jugadas] ([dni], [saldo], [variacion], [transaccion]) VALUES (2, 855, -40, N'pierde')
INSERT [dbo].[jugadas] ([dni], [saldo], [variacion], [transaccion]) VALUES (4, 155, -65, N'pierde')
GO
USE [master]
GO
